[submodule "themes/hermit"]
	path = themes/hermit
	url = git@github.com:Track3/hermit.git
[submodule "themes/hermit-v2"]
	path = themes/hermit-v2
	url = https://github.com/1bl4z3r/hermit-V2
	branch = main
